.helder {
  background-color: #dff2f0;
}

.donker {
  background-color: #0e403b;
}

.tekstkleur {
  color: #e5ebea;
}

.nav-link.active {
  text-decoration: underline !important;
  text-underline-offset: 4px;
}

#intro {
  scroll-margin-top: 200px;
}

.contact-form {
  max-width: 900px;
}
